<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum</title>
    <link rel="stylesheet/less" href="../static/styly/zakladny.less">
    <link rel="stylesheet/less" href="../static/styly/forum.less">
    <!-- Kod na prekladac less z: https://lesscss.org/-->
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <!-- Koniec kodu na prekladac -->
    <!-- Kod na pridanie fontu z: https://rsms.me/inter/ -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!-- Koniec kodu na pridanie fontu -->
    <script src="../static/skripty/navigacia_burger.js"></script>
</head>
<body>
    <div class="header_wrapper">
        <header>
            <nav>
                <ul>
                    <li class="logo_webu"><a href="index.html"><img src="../static/obrazky/logo.png" alt="logo webu"></a></li>
                    <li class="menu_burger"><img src="../static/obrazky/ikony/menu.png" alt="menu ikona" onclick="burgerNavigaciaTlacitko()"></li>
                    {% if prihlaseny %}
                    <li class="navigacia_prava konto_polozky_menu"><a href="odhlasit">Odhlásiť sa</a></li>
                    <li class="navigacia_prava konto_polozky_menu"><a href="konto">Konto</a></li>
                    {% else %}
                    <li class="navigacia_prava konto_polozky_menu"><a href="prihlasovanie">Prihlásiť sa</a></li>
                    {% endif %}
                    <li class="skryte_v_menu" id="prve_skryte"><a href="spravy">Správy</a></li>
                    <li class="skryte_v_menu"><a href="navody">Návody</a></li>
                    <li class="skryte_v_menu"><a href="forum">Fórum</a></li>
                    <li class="skryte_v_menu"><a href="blogy">Blogy</a></li>
                    <li class="vyhladavanie skryte_v_menu navigacia_prava">
                        <form action="vyhladavenie">
                            <label for="hladanie">Vyhladavanie</label>
                            <input type="search" id="hladanie" name="q">
                            <button type="submit">Hľadať</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="sekcia prva_sekcia forum_primarna_sekcia">
        <div class="obmedzovac_sekcie">
            <h1>Fórum</h1>
        </div>
    </div>
    <div class="sekcia forum_sekundarna_sekcia">
        <div class="obmedzovac_sekcie">
            <h2>Najnovšie príspevky</h2>
            <div class="polozka_fora">
                <h3><a href="prispevok.html">Nazov temy</a></h3>
                <p>Kratky uryvok z originalneho foroveho prispevku.  Amet consectetur culpa, doloribus, earum, esse fugiat hic in iusto magni nemo neque nihil obcaecati omnis qui ratione soluta tempora tenetur unde.</p>
            </div>
            <div class="polozka_fora">
                <h3><a href="prispevok.html">Nazov temy</a></h3>
                <p>Kratky uryvok z originalneho foroveho prispevku.  Amet consectetur culpa, doloribus, earum, esse fugiat hic in iusto magni nemo neque nihil obcaecati omnis qui ratione soluta tempora tenetur unde.</p>
            </div>
            <div class="polozka_fora">
                <h3><a href="prispevok.html">Nazov temy</a></h3>
                <p>Kratky uryvok z originalneho foroveho prispevku.  Amet consectetur culpa, doloribus, earum, esse fugiat hic in iusto magni nemo neque nihil obcaecati omnis qui ratione soluta tempora tenetur unde.</p>
            </div>
            <div class="polozka_fora">
                <h3><a href="prispevok.html">Nazov temy</a></h3>
                <p>Kratky uryvok z originalneho foroveho prispevku.  Amet consectetur culpa, doloribus, earum, esse fugiat hic in iusto magni nemo neque nihil obcaecati omnis qui ratione soluta tempora tenetur unde.</p>
            </div>
            <div class="polozka_fora">
                <h3><a href="prispevok.html">Nazov temy</a></h3>
                <p>Kratky uryvok z originalneho foroveho prispevku.  Amet consectetur culpa, doloribus, earum, esse fugiat hic in iusto magni nemo neque nihil obcaecati omnis qui ratione soluta tempora tenetur unde.</p>
            </div>
            <div class="polozka_fora">
                <h3><a href="prispevok.html">Nazov temy</a></h3>
                <p>Kratky uryvok z originalneho foroveho prispevku.  Amet consectetur culpa, doloribus, earum, esse fugiat hic in iusto magni nemo neque nihil obcaecati omnis qui ratione soluta tempora tenetur unde.</p>
            </div>
            <div class="polozka_fora">
                <h3><a href="prispevok.html">Nazov temy</a></h3>
                <p>Kratky uryvok z originalneho foroveho prispevku.  Amet consectetur culpa, doloribus, earum, esse fugiat hic in iusto magni nemo neque nihil obcaecati omnis qui ratione soluta tempora tenetur unde.</p>
            </div>
            <div class="polozka_fora">
                <h3><a href="prispevok.html">Nazov temy</a></h3>
                <p>Kratky uryvok z originalneho foroveho prispevku.  Amet consectetur culpa, doloribus, earum, esse fugiat hic in iusto magni nemo neque nihil obcaecati omnis qui ratione soluta tempora tenetur unde.</p>
            </div>
            <div class="polozka_fora">
                <h3><a href="prispevok.html">Nazov temy</a></h3>
                <p>Kratky uryvok z originalneho foroveho prispevku.  Amet consectetur culpa, doloribus, earum, esse fugiat hic in iusto magni nemo neque nihil obcaecati omnis qui ratione soluta tempora tenetur unde.</p>
            </div>
            <div class="polozka_fora">
                <h3><a href="prispevok.html">Nazov temy</a></h3>
                <p>Kratky uryvok z originalneho foroveho prispevku.  Amet consectetur culpa, doloribus, earum, esse fugiat hic in iusto magni nemo neque nihil obcaecati omnis qui ratione soluta tempora tenetur unde.</p>
            </div>
            <div class="nacitat_dalsie">
                <a href="#">Načítať ďalšie</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="sekcia obmedzovac_sekcie">
            <p>©Batat</p>
        </div>
    </footer>
</body>
</html>