<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet/less" href="../static/styly/zakladny.less">
    <link rel="stylesheet/less" href="../static/styly/nahlad_spravy.less">
    <!-- Kod na prekladac less z: https://lesscss.org/-->
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <!-- Koniec kodu na prekladac -->
    <!-- Kod na pridanie fontu z: https://rsms.me/inter/ -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!-- Koniec kodu na pridanie fontu -->
    <script src="../static/skripty/navigacia_burger.js"></script>
</head>
<body>
    <!-- todo: H1, ale namam tusenia aky tam dat pre SEO ked je to uvodna strana + asi ho skryt -->
    <div class="header_wrapper">
        <header>
            <nav>
                <ul>
                    <li class="logo_webu"><a href="/"><img src="../static/obrazky/logo.png" alt="logo webu"></a></li>
                    <li class="menu_burger"><img src="../static/obrazky/ikony/menu.png" alt="menu ikona" onclick="burgerNavigaciaTlacitko()"></li>
                    {% if prihlaseny %}
                    <li class="navigacia_prava konto_polozky_menu"><a href="odhlasit">Odhlásiť sa</a></li>
                    <li class="navigacia_prava konto_polozky_menu"><a href="konto">Konto</a></li>
                    {% else %}
                    <li class="navigacia_prava konto_polozky_menu"><a href="prihlasovanie">Prihlásiť sa</a></li>
                    {% endif %}
                    <li class="skryte_v_menu" id="prve_skryte"><a href="spravy">Správy</a></li>
                    <li class="skryte_v_menu"><a href="navody">Návody</a></li>
                    <li class="skryte_v_menu"><a href="forum">Fórum</a></li>
                    <li class="skryte_v_menu"><a href="blogy">Blogy</a></li>
                    <li class="vyhladavanie skryte_v_menu navigacia_prava">
                        <form action="vyhladavenie">
                            <label for="hladanie">Vyhladavanie</label>
                            <input type="search" id="hladanie" name="q">
                            <button type="submit">Hľadať</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="sekcia fialova_sekcia prva_sekcia">
        <div class="obmedzovac_sekcie">
            <div class="hlavna_sprava sprava">
                <a href="sprava.html"><img src="../static/obrazky/testovaci.png" alt="obrazok spravy"></a>
                <h2><a href="sprava.html">Názov správy</a></h2>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vitae volutpat proin ridiculus viverra rutrum aliquet. Nunc litora venenatis placerat, suscipit venenatis pharetra dapibus! Porttitor erat vitae integer a viverra. Est pretium ligula enim condimentum leo facilisis. Mus ornare vel lacinia mattis erat nibh quam. Cras parturient mattis mauris ex; nullam natoque interdum hac. Tortor porta non, eros suspendisse natoque litora vulputate fames.</p>
                <div class="sprava_tlacitka">
                    <a href="sprava.html">Čítať</a>
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
        </div>
    </div>
    <div class="sekcia">
        <div class="obmedzovac_sekcie">
            <div class="stredna_sprava sprava">
                <a href="sprava.html"><img src="../static/obrazky/testovaci.png" alt="obr"></a>
                <h2><a href="sprava.html">Názov správy</a></h2>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vitae volutpat proin ridiculus viverra rutrum aliquet. Nunc litora venenatis placerat, suscipit venenatis pharetra dapibus! Porttitor erat vitae integer a viverra. Est pretium ligula enim condimentum leo facilisis. Mus ornare vel lacinia mattis erat nibh quam. Cras parturient mattis mauris ex; nullam natoque interdum hac. Tortor porta non, eros suspendisse natoque litora vulputate fames.</p>
                <div class="sprava_tlacitka">
                    <a href="sprava.html">Čítať</a>
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="stredna_sprava sprava">
                <a href="sprava.html"><img src="../static/obrazky/testovaci.png" alt="obr"></a>
                <h2><a href="sprava.html">Názov správy</a></h2>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vitae volutpat proin ridiculus viverra rutrum aliquet. Nunc litora venenatis placerat, suscipit venenatis pharetra dapibus! Porttitor erat vitae integer a viverra. Est pretium ligula enim condimentum leo facilisis. Mus ornare vel lacinia mattis erat nibh quam. Cras parturient mattis mauris ex; nullam natoque interdum hac. Tortor porta non, eros suspendisse natoque litora vulputate fames.</p>
                <div class="sprava_tlacitka">
                    <a href="sprava.html">Čítať</a>
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="stredna_sprava sprava">
                <a href="sprava.html"><img src="../static/obrazky/testovaci.png" alt="obr"></a>
                <h2><a href="sprava.html">Názov správy</a></h2>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vitae volutpat proin ridiculus viverra rutrum aliquet. Nunc litora venenatis placerat, suscipit venenatis pharetra dapibus! Porttitor erat vitae integer a viverra. Est pretium ligula enim condimentum leo facilisis. Mus ornare vel lacinia mattis erat nibh quam. Cras parturient mattis mauris ex; nullam natoque interdum hac. Tortor porta non, eros suspendisse natoque litora vulputate fames.</p>
                <div class="sprava_tlacitka">
                    <a href="sprava.html">Čítať</a>
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="stredna_sprava sprava">
                <a href="sprava.html"><img src="../static/obrazky/testovaci.png" alt="obr"></a>
                <h2><a href="sprava.html">Názov správy</a></h2>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vitae volutpat proin ridiculus viverra rutrum aliquet. Nunc litora venenatis placerat, suscipit venenatis pharetra dapibus! Porttitor erat vitae integer a viverra. Est pretium ligula enim condimentum leo facilisis. Mus ornare vel lacinia mattis erat nibh quam. Cras parturient mattis mauris ex; nullam natoque interdum hac. Tortor porta non, eros suspendisse natoque litora vulputate fames.</p>
                <div class="sprava_tlacitka">
                    <a href="sprava.html">Čítať</a>
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="stredna_sprava sprava">
                <a href="sprava.html"><img src="../static/obrazky/testovaci.png" alt="obr"></a>
                <h2><a href="sprava.html">Názov správy</a></h2>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vitae volutpat proin ridiculus viverra rutrum aliquet. Nunc litora venenatis placerat, suscipit venenatis pharetra dapibus! Porttitor erat vitae integer a viverra. Est pretium ligula enim condimentum leo facilisis. Mus ornare vel lacinia mattis erat nibh quam. Cras parturient mattis mauris ex; nullam natoque interdum hac. Tortor porta non, eros suspendisse natoque litora vulputate fames.</p>
                <div class="sprava_tlacitka">
                    <a href="sprava.html">Čítať</a>
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="nacitat_dalsie">
                <a href="#">Načítať ďalšie správy</a>
            </div>
        </div>
    </div>
    <div class="skecia fialova_sekcia stred_mobil">
        <div class="obmedzovac_sekcie">
            <h2 class="nazov_sekcie">Najnovšie správy</h2>
            <div class="mala_sprava sprava">
                <h3><a href="sprava.html">Názov správy ktorá je aktuálne vydaná</a></h3>
                <div class="sprava_tlacitka">
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="mala_sprava sprava">
                <h3><a href="sprava.html">Názov správy ktorá je aktuálne vydaná</a></h3>
                <div class="sprava_tlacitka">
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="mala_sprava sprava">
                <h3><a href="sprava.html">Názov správy ktorá je aktuálne vydaná</a></h3>
                <div class="sprava_tlacitka">
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="mala_sprava sprava">
                <h3><a href="sprava.html">Názov správy ktorá je aktuálne vydaná</a></h3>
                <div class="sprava_tlacitka">
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="mala_sprava sprava">
                <h3><a href="sprava.html">Názov správy ktorá je aktuálne vydaná</a></h3>
                <div class="sprava_tlacitka">
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="mala_sprava sprava">
                <h3><a href="sprava.html">Názov správy ktorá je aktuálne vydaná</a></h3>
                <div class="sprava_tlacitka">
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <div class="mala_sprava sprava">
                <h3><a href="sprava.html">Názov správy ktorá je aktuálne vydaná</a></h3>
                <div class="sprava_tlacitka">
                    <a href="#">Uložiť do kolekcie</a>
                </div>
            </div>
            <br>
            <div class="nacitat_dalsie">
                <a href="#">Načítať ďalšie správy</a>
            </div>
            <br>
        </div>
    </div>
    <footer>
        <div class="sekcia obmedzovac_sekcie">
            <p>©Batat</p>
        </div>
    </footer>
</body>
</html>