<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrácia</title>
    <link rel="stylesheet/less" href="../static/styly/prihlasovanie.less">
    <!-- Kod na prekladac less z: https://lesscss.org/-->
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <!-- Koniec kodu na prekladac -->
    <!-- Kod na pridanie fontu z: https://rsms.me/inter/ -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!-- Koniec kodu na pridanie fontu -->
  <script src="../static/skripty/prihlasovanie.js"></script>
</head>
<body>
<div class="prihlasovacia_sekcia">
    <a href="/"><img src="../static/obrazky/logo.png" alt="logo" class="logo_webu"></a>
    <h1>Registrácia</h1>
    <form action="javascript:overRegistraciu()">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <label for="uzivatelske_meno">Užívateľské meno</label>
        <input type="text" id="uzivatelske_meno" name="meno" required>
        <label for="heslo">Heslo</label>
        <input type="password" id="heslo" name="heslo" required>
        <label for="opakovane_heslo">Opakované heslo</label>
        <input type="password" id="opakovane_heslo" required>
        <button type="submit">Registrovať sa</button>
    </form>
    <p>Chcete sa radšej <a href="prihlasovanie">prihlásiť</a>?</p>
    <p style="color: red" id="chyba"></p>
</div>
</body>
</html>