<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vyhľadávanie</title>
    <link rel="stylesheet/less" href="../static/styly/zakladny.less">
    <link rel="stylesheet/less" href="../static/styly/vyhladavanie.less">
    <!-- Kod na prekladac less z: https://lesscss.org/-->
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <!-- Koniec kodu na prekladac -->
    <!-- Kod na pridanie fontu z: https://rsms.me/inter/ -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!-- Koniec kodu na pridanie fontu -->
    <script src="../static/skripty/navigacia_burger.js"></script>
</head>
<body>
    <div class="header_wrapper">
        <header>
            <nav>
                <ul>
                    <li class="logo_webu"><a href="/"><img src="../static/obrazky/logo.png" alt="logo webu"></a></li>
                    <li class="menu_burger"><img src="../static/obrazky/ikony/menu.png" alt="menu ikona" onclick="burgerNavigaciaTlacitko()"></li>
                    <li class="navigacia_prava konto_polozky_menu"><a href="prihlasovanie">Odhlásiť sa</a></li>
                    <li class="navigacia_prava konto_polozky_menu"><a href="konto">Konto</a></li>
                    <li class="skryte_v_menu" id="prve_skryte"><a href="spravy">Správy</a></li>
                    <li class="skryte_v_menu"><a href="navody">Návody</a></li>
                    <li class="skryte_v_menu"><a href="forum">Fórum</a></li>
                    <li class="skryte_v_menu"><a href="blogy">Blogy</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="sekcia prva_sekcia fialova_sekcia">
        <div class="obmedzovac_sekcie">
            <h1>Vyhľadávanie</h1>
            <form action="vyhladavenie.html">
                <label for="text_vyhladavanie" id="lbl_vyhladavanie">Vyhľadávané</label>
                <input type="search" id="text_vyhladavanie">
                <h4>Časť webu</h4>
                <div class="polozka_filtra">
                    <input type="checkbox" id="typ_spravy">
                    <label for="typ_spravy">Správy</label>
                </div>
                <div class="polozka_filtra">
                    <input type="checkbox" id="typ_navody">
                    <label for="typ_navody">Návody</label>
                </div>
                <div class="polozka_filtra">
                    <input type="checkbox" id="typ_forum">
                    <label for="typ_forum">Fórum</label>
                </div>
                <div class="polozka_filtra">
                    <input type="checkbox" id="typ_blogy">
                    <label for="typ_blogy">Blogy</label>
                </div>
                <button type="submit">Aplikovať</button>
            </form>
        </div>
    </div>
    <div class="sekcie">
        <div class="obmedzovac_sekcie">
            <div class="vysledok vysledok_spravy">
                <h3><a href="sprava.html">Nájdená správa</a></h3>
                <p>Phasellus scelerisque gravida maximus. Nam ut ipsum ante. Integer eget faucibus nisi, vitae aliquam eros. Aliquam viverra consectetur lorem, nec mattis augue sodales nec. Integer non mi lacinia, finibus nulla eget, molestie felis. Nullam in velit ac leo auctor blandit in sed dolor. Suspendisse potenti. In varius placerat ornare. Sed.</p>
            </div>
            <div class="vysledok vysledok_spravy">
                <h3><a href="sprava.html">Nájdená správa</a></h3>
                <p>Phasellus scelerisque gravida maximus. Nam ut ipsum ante. Integer eget faucibus nisi, vitae aliquam eros. Aliquam viverra consectetur lorem, nec mattis augue sodales nec. Integer non mi lacinia, finibus nulla eget, molestie felis. Nullam in velit ac leo auctor blandit in sed dolor. Suspendisse potenti. In varius placerat ornare. Sed.</p>
            </div>
            <div class="vysledok vysledok_navody">
                <h3><a href="#">Nájdený návod</a></h3>
                <p>Phasellus scelerisque gravida maximus. Nam ut ipsum ante. Integer eget faucibus nisi, vitae aliquam eros. Aliquam viverra consectetur lorem, nec mattis augue sodales nec. Integer non mi lacinia, finibus nulla eget, molestie felis. Nullam in velit ac leo auctor blandit in sed dolor. Suspendisse potenti. In varius placerat ornare. Sed.</p>
            </div>
            <div class="vysledok vysledok_navody">
                <h3><a href="#">Nájdený návod</a></h3>
                <p>Phasellus scelerisque gravida maximus. Nam ut ipsum ante. Integer eget faucibus nisi, vitae aliquam eros. Aliquam viverra consectetur lorem, nec mattis augue sodales nec. Integer non mi lacinia, finibus nulla eget, molestie felis. Nullam in velit ac leo auctor blandit in sed dolor. Suspendisse potenti. In varius placerat ornare. Sed.</p>
            </div>
            <div class="vysledok vysledok_forum">
                <h3><a href="prispevok.html">Nájdený fórový príspevok</a></h3>
                <p>Phasellus scelerisque gravida maximus. Nam ut ipsum ante. Integer eget faucibus nisi, vitae aliquam eros. Aliquam viverra consectetur lorem, nec mattis augue sodales nec. Integer non mi lacinia, finibus nulla eget, molestie felis. Nullam in velit ac leo auctor blandit in sed dolor. Suspendisse potenti. In varius placerat ornare. Sed.</p>
            </div>
            <div class="vysledok vysledok_forum">
                <h3><a href="prispevok.html">Nájdený fórový príspevok</a></h3>
                <p>Phasellus scelerisque gravida maximus. Nam ut ipsum ante. Integer eget faucibus nisi, vitae aliquam eros. Aliquam viverra consectetur lorem, nec mattis augue sodales nec. Integer non mi lacinia, finibus nulla eget, molestie felis. Nullam in velit ac leo auctor blandit in sed dolor. Suspendisse potenti. In varius placerat ornare. Sed.</p>
            </div>
            <div class="vysledok vysledok_blog">
                <h3><a href="#">Nájdený blogovy príspevok</a></h3>
                <p>Phasellus scelerisque gravida maximus. Nam ut ipsum ante. Integer eget faucibus nisi, vitae aliquam eros. Aliquam viverra consectetur lorem, nec mattis augue sodales nec. Integer non mi lacinia, finibus nulla eget, molestie felis. Nullam in velit ac leo auctor blandit in sed dolor. Suspendisse potenti. In varius placerat ornare. Sed.</p>
            </div>
            <div class="vysledok vysledok_blog">
                <h3><a href="#">Nájdený blogovy príspevok</a></h3>
                <p>Phasellus scelerisque gravida maximus. Nam ut ipsum ante. Integer eget faucibus nisi, vitae aliquam eros. Aliquam viverra consectetur lorem, nec mattis augue sodales nec. Integer non mi lacinia, finibus nulla eget, molestie felis. Nullam in velit ac leo auctor blandit in sed dolor. Suspendisse potenti. In varius placerat ornare. Sed.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="sekcia obmedzovac_sekcie">
            <p>©Batat</p>
        </div>
    </footer>
</body>
</html>